{% extends "base.html"%}

{%block title%} About Us {%endblock%}

{% block content%}
    <main class="content-container">
      <section class="about-section">
        <p>
          The <strong>Tomato Leaf Disease Detector</strong> is an AI-powered web
          application designed to help farmers and gardeners identify common
          diseases affecting tomato plants by analyzing leaf images.
        </p>
        <p>
          Using a trained deep learning model, the application predicts the type
          of disease present on the leaf and provides information about the
          cause and prevention methods to help users take timely action.
        </p>
        <p>
          This tool aims to improve crop health and yield by enabling early
          detection and management of tomato leaf diseases.
        </p>
      </section>
    </main>
     {%endblock%}
</html>
