<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Document{% endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <nav>
        <h3>Tomatic</h3>
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href="/contacts">Contact</a></li>
            <li><a href="/service">Our services</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    {% block content%}

    {% endblock %}
    <div class="footer">&copy; 2025 Tomato AI | Built by Gomezgani Mlowoka
    </div>
    <script src="{{ url_for('static', filename='js/darkmode-toggle.js') }}"></script>

</body>

</html>