{%extends "base.html"%}

{%block title%}Contact{%endblock%}
  
{%block content%}
    <main class="content-container">
      <section class="contact-section">
        <p>
          We would love to hear from you! If you have any questions, feedback,
          or need support, please reach out to us using the contact form below
          or via the provided contact details.
        </p>
        <form class="contact-form" action="#" method="post">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Your name"
            required
          />

          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Your email"
            required
          />

          <label for="message">Message:</label>
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="Your message"
            required
          ></textarea>

          <button type="submit">Send Message</button>
        </form>
        <div class="contact-info">
          <h2>Contact Details</h2>
          <p>Email: gomezganimlowoka95@gmail.com</p>
          <p>Phone: (265) 883952235 / 985798507</p>
          <p>Address: Kasungu, Malawi</p>
        </div>
      </section>
    </main>
   {%endblock%}
</html>
